html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Dosis', sans-serif;
}

header{
  width: 100%;
  background-color: #0d7619;
}

.header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.header nav{
  margin-left: auto;
  
}

.header img{
  padding-right: 4rem;
}

.header .menu{
  display: flex;
  font-size: 1.6rem;
  padding-top: 3rem;
 
}

.header .menu li a{
  padding-left: 1rem;
  color: aliceblue;
  text-decoration: none;
}
.header .menu li{
  list-style: none;
}

.banniere {
  display:flex;
  justify-content: center; 
  align-items: center;
  background-image: url("../img/banniere.jpg");
  background-size: cover;
  width: 100%;
  height: 59rem;
  margin-top: -1%;
  text-align: center;
}

.banniere .desc{
  position: absolute;
  text-align: center;
}

.desc .rencontre {
  font-size: 2rem;

}

.desc .chaine {
  text-transform: uppercase;
  font-size: 3rem;
}

.desc .question {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #9acf64;
}

.buttonInscris{
  background-color: #395e1b;
  font-size: 1.6rem;
  border-radius: 10%;
  padding:3px;
  color: beige;
}

.conference {
  text-align: center;

}
.conf_global{
  text-align: center;
}

.titre {
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 1px;
  text-align: center;
}

.textconf{
  font-size: 2rem;
  margin: auto;
  width: 60%;

}

.programme{
  background-color:#fffdf1;
  padding-bottom: 166px;
}

.programme h1{
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 1px;
  text-align: center;
}
.banniereProgramme{
  display:flex;
  justify-content: center; 
  align-items: center;
  background-image: url("../img/bandeau.jpg");
  background-size: cover;
  width: 100%;
  height: 30rem;
  margin-top: 8%;
  text-align: center;
}

.toutProgramme {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.chaqueProgramme{
  text-align: center;

}

.chaqueProgramme h2{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #9acf64;
}

.chaqueProgramme ul {
    list-style: none;
    font-size: 1.6rem;
    text-align: left;
}

.chaqueProgramme ul li {
  margin-bottom: 10px;
}

.programme button{
  background-color: #395e1b;
  font-size: 1.6rem;
  border-radius: 10%;
  padding:3px;
  display: flex;
  margin: auto;
  color: beige;
}

.fleur{
  position: absolute;
  display: flex;
  margin-right: auto;
  margin-top: -5px;
  position: absolute;
  width: 25%;
  height: 170px;
  background-image:  url("../img/programme.png") ;
  background-repeat: no-repeat;
}

.orateurs{
  text-align: center;
}
.p1 {
  font-size: 2rem;
  margin-bottom: 60px;
}

.lesOrateurs{
  width: 80%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

}

.personne{
  position: relative;
  width: 25%;
  margin-bottom: 30px;
  margin: auto;

}

.imgOrateur{
  border-radius: 10%;
  width: 100%;
  height: 150px;
  background-image: url("../img/portrait.jpg");
  background-repeat: no-repeat;
}